$container-offset: 80px;
$container-max-width: 768px;
$container-padding: 0;

.container {
	@if $layout-full-width {
		padding-left: $container-offset;
		padding-right: $container-offset;
	} @else {
		max-width: $container-max-width;
		margin-left: auto;
		margin-right: auto;
	}

	&.padded {
		padding-left: $container-padding;
		padding-right: $container-padding;
	}
}

.row {
  @include row($tablet-count: 4);
}

.row-multiple {
  @include row();

  @include min-width($desktop) {
    margin-bottom: 25px;
  }
}

.row-nostretch {
  @include row($col-stretch: false);

  @include min-width($desktop) {
    margin-bottom: 25px;
  }
}

.row-pullsides {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .col {
    display: flex;

    &.right {
      justify-content: flex-end;
    }
  }

  &.triple {
    .col {
      flex: 0;

      &.sides {
        flex-basis: 25%;
      }
    }
  }

  &.double {
    .col {
      flex: 1 0 auto;
    }

    @include max-width($landscape) {
      &:not(.mobile) {
        flex-direction: column;
        align-items: flex-start;

        .col {
          margin-right: 0;
          width: 100%;
          justify-content: flex-start;

          &:last-child {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
