%no-text-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%center-checkmark {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

%all-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

%hidden-reveal {
  opacity: 0;
  height: 0;
  z-index: -1;
  pointer-events: none;
  transform: scale(0.6);
  position: fixed;

  transition: all 350ms ease;

  &.active {
    opacity: 1;
    height: auto;
    z-index: 5;
    pointer-events: auto;
    transform: scale(1);
    position: static;
  }
}
