.modal {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0,0,0,0.7);
	opacity: 0;
	z-index: -1;
	pointer-events: none;
	transition: opacity 600ms $cb-qck;


	.modal-inner {
		width: 80%;
		max-width: 620px;
		padding: 40px;
		position: absolute;
		top: 26px;
		margin: 0 auto;
		left: 0;
		right: 0;
		border-radius: 5px;
		z-index: -1;
		pointer-events: none;
		background-color: #f8f8f8;
		opacity: 0;
		transform: translate(0px, 1px);
		transition: opacity 750ms $cb-qck,
								transform 750ms $cb-qck;

		&.active {
			z-index: 1000;
			pointer-events: auto;
			opacity: 1;
			transform: translate(0px, 64px);
		}

		@include max-width($landscape) {
			top: 20px;
			padding: 15px;
			width: 90%;
		}
	}

	&.active {
		opacity: 1;
		pointer-events: auto;
		z-index: 100;
	}
}

.modal-header {
	background-color: #289be5;
	padding: 29px 30px 29px;
	font-size: 30px;
	color: #fff;
	position: relative;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	position: relative;
	font-weight: 200;

	@include max-width($landscape) {
		padding: 20px;
		font-size: 24px;
	}

	.iframe-modal & {
		padding: 14px;
		font-size: 22px;
		font-weight: 400;
	}
}

.modal-content {
	padding: 40px 30px 35px;
	background-color: #fff;

	.iframe-modal & {
		padding: 0;
		height: 90%;

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	.content-description {
		padding-bottom: 30px;
		border-bottom: 1px solid #e8eef1;

		.subheader {
			margin-top: 10px;
			letter-spacing: 0.2px;
		}
	}

	.content-inner {
		padding-top: 22px;
		padding-bottom: 95px;

		.popup-gallery {
			width: 95%;
		}

		@include max-width($desktop) {
			padding-bottom: 30px;
		}
	}

	@include max-width($landscape) {
		padding: 20px 20px 15px;
	}
}

.modal-footer {
	background-color: $pure-white;
	border-top: 1px solid #e8eef1;

	.nav-item {
		color: #c2d2da;
		font-weight: 600;
		cursor: pointer;
		padding: 30px;

		.fa {
			margin-right: 12px;
		}

		&.right {
			.fa {
				margin-right: 0;
				margin-left: 12px;
			}
		}

		&:hover {
			color: #289be5;
		}

		@include max-width($desktop) {
			padding: 15px 10px;
		}

		@include max-width(400px) {
			font-size: 11px;
		}
	}
}

.modal-close {
	position: absolute;
	right: 20px;
	top: 20px;
}

.css-close {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 300ms $cb-qck;

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #4c4c4c;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  .modal-close & {
    opacity: 0.65;

    &:hover {
      opacity: 1;
    }
  }

  &.rounded {
    &:before,
    &:after {
      border-radius: 5px;
    }
  }

  &.thick {
    &:before,
    &:after {
      height: 4px;
      margin-top: -2px;
    }
  }
}
